<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287902679195-53mv59c1rmaqfr4ql304pqvnhqu9rodd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287902679195-53mv59c1rmaqfr4ql304pqvnhqu9rodd</string>
	<key>API_KEY</key>
	<string>AIzaSyCF5XaGVx1fLNiLDtS4_tAmc1b4gxbfYiU</string>
	<key>GCM_SENDER_ID</key>
	<string>287902679195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wladimirfilho.appFilmesGetx</string>
	<key>PROJECT_ID</key>
	<string>app-movies-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>app-movies-getx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287902679195:ios:c72872b651c227ee95463e</string>
</dict>
</plist>